<p>tnc works!</p>
<nav>
<app-header></app-header>
</nav>

<section class='w-80'>
<h1 class='text-center'>Terms & Conditions</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec facilisis et lorem eget commodo. Maecenas nec porta nibh. Nulla vulputate porttitor velit, ac venenatis nunc vestibulum quis. Suspendisse sit amet euismod magna. Phasellus gravida tortor sed augue rhoncus, varius laoreet tellus posuere. Morbi finibus ut dolor ornare dapibus. Donec justo turpis, sodales nec nunc ac, volutpat aliquam massa.

Donec laoreet, magna vitae rutrum vestibulum, diam turpis finibus diam, ut euismod nibh turpis bibendum orci. In commodo risus blandit consectetur porttitor. Praesent fermentum pretium dapibus. Morbi euismod id mi sit amet condimentum. Praesent enim risus, pretium ut quam ut, cursus aliquet leo. Integer quis laoreet risus, vitae tincidunt ante. Pellentesque dui orci, dignissim quis consequat nec, egestas nec elit. Proin venenatis dapibus justo, id convallis nibh cursus vel. Nulla sollicitudin felis vitae purus posuere, vitae consectetur enim posuere. Nam placerat, augue at aliquam hendrerit, ex sem condimentum risus, non finibus ipsum felis porttitor erat. Nulla facilisi.

In sit amet lorem odio. Sed quis posuere leo. Nulla ut dictum odio. Nunc tempor tincidunt libero at ullamcorper. Nam tempus, sem in aliquam pulvinar, magna ligula euismod libero, sed vestibulum velit nunc sed mauris. Donec sagittis ipsum sed sem iaculis imperdiet. Vivamus ligula orci, accumsan quis odio ut, placerat convallis lorem.

Proin luctus lacus vel tortor volutpat, eget vulputate odio faucibus. Sed posuere lobortis imperdiet. Curabitur ultricies erat nisi. Aenean imperdiet faucibus neque ut pharetra. Integer iaculis orci placerat dolor vulputate bibendum. Pellentesque mollis erat euismod, cursus mauris eget, molestie odio. Nullam venenatis arcu quis tellus placerat mattis sit amet sit amet massa. Quisque id varius tortor. Nam vestibulum vulputate lacus non vestibulum. Duis sit amet nibh luctus, faucibus elit vitae, venenatis erat. Phasellus nec quam pellentesque, congue erat id, scelerisque quam.

Mauris tincidunt aliquam quam eu vestibulum. Ut libero velit, aliquet eget elit vitae, congue porttitor nunc. Suspendisse ac laoreet nisi, ac tristique mi. Mauris rutrum non felis vitae tempor. Vivamus sed diam sit amet erat dictum posuere. Vivamus elementum accumsan nibh, sed tempor risus consequat sed. Proin et dignissim arcu, vitae gravida purus. Suspendisse non egestas magna. Quisque et quam orci. Donec lectus augue, faucibus et sodales non, faucibus id felis. Nulla ut laoreet lorem.</p>

</section>
