{% extends 'base.html' %}

{% block title %} Bid {% endblock title %}

{% block body %}

<b><p>{{name}} chose to bid</p></b>
{% comment %} <a href='/bid'>bid</a> <br> <a href='/transfer/{{winner}}'> transfer </a> {% endcomment %}


{% if user_info.superuser == True %}
{% if showBidInputBox %}

{% if highestBidUser != name %}
<form action = "/get/{{id}}/bid" method = "POST">
{% csrf_token %} 
{% comment %} {% if userInGroup != latestWinner or latestWinner.bidAmount > 0 %} {% endcomment %}
  <div class="form-group">
    <label for="bidAmt">Bid Amount</label>
    <input type="number" class="form-control" id="bidAmt" name = "bidAmt" placeholder="Bid Amount" required>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% comment %} {% endif %} {% endcomment %}

{% endif %}
{% endif %}
{% comment %} {% if userInGroup.bidAmount > 0 %} {% endcomment %}

{% for u in usersInGroup %}

{% if u.bidAmount > 0 %}
{% if u.u_id.username != highestBidUser %}
<p> {{u.u_id.username}} bid ₹{{u.bidAmount}}</p>

{% endif %}
{% endif %}

{% endfor %} 

{% comment %} <p> You chose to bid ₹{{userInGroup.bidAmount}} this month </p> {% endcomment %}
{% comment %} <a href='/get/{{id}}/transfer/{{name}}' target='_blank'>Transfer</a> {% endcomment %}

{% comment %} {% endif %} {% endcomment %}

{% comment %} <p>{{name}}</p> can bid {% endcomment %}
<p> Total AMT = {{ totalAmt }}</p>
{% endif %}

{% if user_info.superuser == False %}
<h2>{{name}}, </h2> 
<h2> Please subscribe </h2>

{% endif %}


{% endblock body %}
