{% extends 'base.html' %}

{% block title %} About {% endblock title %}

{% block body %}

<b><p>This is my "<i>{{group.name}}</i>" page created by <i>{{group.created_by_user}}</i> for <i>{{group.amount}}</i> </p></b>

{% for pupil in people %}
{{ pupil }}<br>
{% endfor %}

{% if group.created_by_user == request.user %}
<h2>Add new user</h2>
<form action = "/get/{{id}}" method = "POST">
{% csrf_token %}
  {% for pupil in users %}
  <div class="form-check">
  <input class="form-check-input" type="checkbox" name="inputs" value="{{ pupil.id }}" id="{{pupil.id}}">
  <label class="form-check-label">
    {{ pupil }}
  </label>
</div>
{% endfor %}
<button type = "submit">Add user</button> 
</form>
 {% endif %}

<form action = "/get/{{id}}/start" method = "POST">
{% csrf_token %}
<button type = "submit" >Start Commitie</button> 
</form>

{% endblock body %}


