{% extends 'base.html' %}

{% block title %} Home {% endblock title %}

{% block body %}
<h1> Welcome {{request.user}}</h1>
<a href='logout'>Logout</a>

{% comment %} {% for user in users %}
{{user.id }} : {{ user.username }};
{% endfor %} {% endcomment %}

<form action = "/addGroup" method = "post">
{% csrf_token %}
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" aria-describedby="name" name = "name" placeholder="Enter name" required>
  </div>
  <div class="form-group">
    <label for="amt">Amount</label>
    <input type="number" class="form-control" id="amt" name = "amt" placeholder="Amount">
  </div>
   <div class="form-group">
    <label for="duration">Select Duration</label>
    <select class="form-control" id="duration" name = "duration" style = "font-size:12px">
      <option value="1m">1 month</option>
      <option value="3d">3 days (superuser) </option>
      <option value="1w">1 week (superuser)</option>
      <option value="2w">2 weeks (superuser) </option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<!-- // For showwing groups with the logged-in user -->
<!-- {% for group in groups %}
<a href="/get/{{group.id}}"> {{group.name}}, {{group.amount}}</a> <br>
{% endfor %} -->

{% for group in groupList %}
<a href="/get/{{group.id}}"> {{group.name}}, {{group.amount}}, {{group.duration}} </a> <br>
{% endfor %}




{% endblock body %}


