<nav>
<app-header></app-header>
</nav>

<section>
<h1> Sign up</h1>

<form class="row g-3" (ngSubmit) = "onSignUp()" #signUpForm="ngForm">
 <div class="col-md-6">
    <label for="inputEmail4" class="form-label">Username<small>(used for login)</small></label>
    <input type="text" class="form-control" [class.is-invalid] = "userName.invalid && userName.touched" id="userName" name="userName" #userName="ngModel" [(ngModel)] = "signUp.userName">
  </div>
  <div class="col-md-6">
    <label for="inputEmail4" class="form-label">First Name</label>
    <input type="text" class="form-control" id="firstName" name="firstName" #firstName="ngModel" [(ngModel)] = "signUp.firstName">
  </div>
  <div class="col-md-6">
    <label for="inputPassword4" class="form-label">Last Name</label>
    <input type="text" class="form-control" id="lastName" name="lastName" #lastName="ngModel" [(ngModel)] = "signUp.lastName">
  </div>
  <div class="col-md-6">
    <label for="inputEmail4" class="form-label">Email</label>
    <input type="email" class="form-control" id="email" name="email" #email="ngModel" [(ngModel)] = "signUp.email">
  </div>
  <div class="col-md-6">
    <label for="inputPassword4" class="form-label">Mobile</label>
    <input type="number" class="form-control" id="mobile" name="mobile" #mobile="ngModel" [(ngModel)] = "signUp.mobile">
  </div>
  <div class="col-12">
    <label for="inputAddress" class="form-label">Address Line 1</label>
    <input type="text" class="form-control" id="addressLine1" name="addressLine1" #addressLine1="ngModel" [(ngModel)] = "signUp.addressLine1">
  </div>
  <div class="col-12">
    <label for="inputAddress2" class="form-label">Address Line 2</label>
    <input type="text" class="form-control" id="addressLine2" name="addressLine2" #addressLine2="ngModel" [(ngModel)] = "signUp.addressLine2">
  </div>
   <div class="col-md-6">
    <label for="inputPassword4" class="form-label">Password</label>
    <input type="password" class="form-control" id="password" name="password" #password="ngModel" [(ngModel)] = "signUp.password">
  </div>

   <div class="col-md-6">
    <label for="inputPassword4" class="form-label">Confirm Password</label>
    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" #confirmPassword="ngModel" [(ngModel)] = "signUp.confirmPassword">
  </div>

  <div class="col-12">
    <button type="submit" [class.disabled]="!signUpForm.form.valid" id="signUpForm" class="btn btn-warning">Sign up</button>
  </div>
</form>
</section>
