<h1> Sign up</h1>

<form class="row g-3">
 <div class="col-md-6">
    <label for="inputEmail4" class="form-label">First Name</label>
    <input type="email" class="form-control" id="inputEmail4">
  </div>
  <div class="col-md-6">
    <label for="inputPassword4" class="form-label">Last Name</label>
    <input type="password" class="form-control" id="inputPassword4">
  </div>
  <div class="col-md-6">
    <label for="inputEmail4" class="form-label">Email</label>
    <input type="email" class="form-control" id="inputEmail4">
  </div>
  <div class="col-md-6">
    <label for="inputPassword4" class="form-label">Mobile</label>
    <input type="password" class="form-control" id="inputPassword4">
  </div>
  <div class="col-12">
    <label for="inputAddress" class="form-label">Address</label>
    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
  </div>
  <div class="col-12">
    <label for="inputAddress2" class="form-label">Address 2</label>
    <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
  </div>
  <div class="col-md-6">
    <label for="inputCity" class="form-label">City</label>
    <input type="text" class="form-control" id="inputCity">
  </div>
  <div class="col-md-4">
    <label for="inputState" class="form-label">State</label>
    <select id="inputState" class="form-select">
      <option selected>Choose...</option>
      <option>...</option>
    </select>
  </div>
  <div class="col-md-2">
    <label for="inputZip" class="form-label">Zip</label>
    <input type="text" class="form-control" id="inputZip">
  </div>

  <h1>Bank Details</h1>

   <div class="col-md-6">
    <label for="inputZip" class="form-label">Account Number</label>
    <input type="text" class="form-control" id="inputZip">
  </div>

   <div class="col-md-6">
    <label for="inputZip" class="form-label">IFSC</label>
    <input type="text" class="form-control" id="inputZip">
  </div>

   <div class="col-md-6">
    <label for="inputZip" class="form-label">Name</label>
    <input type="text" class="form-control" id="inputZip">
  </div>

   <div class="col-md-6">
    <label for="inputZip" class="form-label">Bank Addrress</label>
    <input type="text" class="form-control" id="inputZip">
  </div>

    <div class="mb-3">
      <label for="formFile" class="form-label">Gpay</label>
      <input class="form-control" type="file" id="formFile">
    </div>

    <div class="mb-3">
      <label for="formFile" class="form-label">PayTm</label>
      <input class="form-control" type="file" id="formFile">
    </div>

      <div class="mb-3">
      <label for="formFile" class="form-label">PhonePe</label>
      <input class="form-control" type="file" id="formFile">
    </div>

  <div class="col-12">
    <button type="submit" class="btn btn-primary">Sign up</button>
  </div>
</form>
