
<section>
<h1> Login to Thrive!</h1>
<form class="example-form" #loginFrom="ngForm" novalidate (ngSubmit)="onSubmit()" #heroForm="ngForm">

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput placeholder="Ex. Pizza"  type ="email" name ="email" id="email" #email="ngModel" [(ngModel)] = "loginModel.email" required>
    <mat-hint>Errors appear instantly!</mat-hint>
    <mat-error *ngIf="email.invalid && email.touched">
      Email is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Password</mat-label>
    <input matInput placeholder="Ex. Pizza"  #password="ngModel" type ="password" name = "password" required id="password" [(ngModel)] = "loginModel.password">
    <mat-hint>Errors appear instantly!</mat-hint>
    <mat-error *ngIf="password.invalid && password.touched">
      Password is <strong>required</strong>
    </mat-error>
  </mat-form-field>
<button mat-raised-button color="primary" [disabled]="!loginFrom.form.valid" >Login</button>
</form>

<br>
<p routerLink = '/signup' class="signup">New here? </p>
</section>
